.chartCover {
    background-color: #fff;
    border-radius: 5px;
    padding: 3px 15px;
    height: 450px;
    max-height: 450px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    z-index: 10;
}

small {
    font-weight: bold;
    color: #999;
}

h2 {
    margin-top: 5px;
}

.info {
    margin: 0 5px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
}

.overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.overview div {
    width: 100%;
    text-align: center;
    border-left:1px solid #eee;
}


.overview div:nth-child(1)  {
    border-left: none;
}


img {
    width: 25px;
}

@media (max-width: 480px) {
    .chart {
        max-width: 100%;
    }
}